@font-face {
    font-family: 'introrustg-base2line';
    src: url('Fonts/introrustg_base2line_macroman/introrustg-base2line-webfont.woff2') format('woff2'),
         url('Fonts/introrustg_base2line_macroman/introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*

    Reset ends on 115

    */

/*reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse: collapse;
    border-spacing: 20px;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
*{
  text-decoration: none;
}
/*reset end*/


html{
  font-size: 10px;
}
body{
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}
header{

  background-color: rgba(0,180,180,1.0);
  width: 100%;
  height: 100px;
  font-family: arial;
  font-weight: 200;
  font-size: 15px;
}
header .Brand{
  display: inline-block;
  margin: 31px 0;
  padding: 0 20px 0 40px;
  text-transform: uppercase;
  float: left;
  font-family: serif;
  font-style: oblique;
  font-weight: 600;
  line-height: 38px;
  font-size: 20px;
  color: white;
}
header ul {
  display: block;
  width: 60%;
  margin: 20px 10px 20px 0;
  float: right;
  padding: none;
}
header li {
  display: inline;
  list-style: none;
}
a{
  display: inline-block;
  width: 24.5%;
  margin-right: 0.1%;
  text-align: center;
  line-height: 3;
  outline: none;
}
a:link {
  color: white;
}

a:visited {
  color: white;
}

a:focus, a:hover {
  border-right: 1px solid;
  background: rgba(0,0,0,0.5);
}

a:active {
  color: black;
  background: white;
}

main {
  color: rgba(170,50,170,1.0);
  font-family: "Alegreya", serif;
  font-weight: 300;
  font-size: 2.5rem;
  margin: 120px 10px auto 20px;
  line-height: normal;

}

.heads {
  text-align: center;
  font-family: 'Lobster Two', cursive;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.8rem;
  line-height: 50px;
  padding-top: 15px;
  margin: 10px 0 15px 0;
}
.basic img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 300px;
  border: 10px outset black;
  border-radius: 10px;
  transition: width 1s, height 1s, border 1s, filter 1s;
}

.basic img:hover{
  filter: blur(8px);
  -webkit-filter: blur(2px);
  height: 370px;
  width: 320px;
  border-width: 0px;
}

#GI{
  font-family: 'introrustg-base2line',sans-serif;
  font-size: 8rem;
  color: rgba(250,00,00,1.0);
  text-shadow:
                0 1px rgba(170, 00, 00, 1.0),
                -1px 0 rgba(170,00,00,1.0),
                -1px 2px rgba(90,00,00,1.0),
                -2px 1px rgba(170,00,00,1.0),
                -2px 3px rgba(90,00,00,1.0),
                -3px 2px rgba(170,00,00,1.0),
                -3px 4px rgba(90,00,00,1.0),
                -4px 3px rgba(170,00,00,1.0),
                -4px 5px rgba(90,00,00,1.0),
                -5px 4px rgba(170,00,00,1.0),
                -5px 6px rgba(90,00,00,1.0),
                -6px 5px rgba(170,00,00,1.0),
                -6px 7px rgba(90,00,00,1.0),
                -7px 6px rgba(170,00,00,1.0),
                -7px 8px rgba(90,00,00,1.0),
                -8px 7px rgba(170,00,00,0.5);
}
.hobbs ul{
  text-indent: 10px;
  list-style-position: inside;
}
#Details{
  width: fit-content;
  margin: 30px auto;}
#Details table,tr,td,th{
  border: 3px solid black;
  border-collapse: separate;
  border-spacing: 2px;
}
#Details table tr,td,th{
  background-color: rgba(0, 10, 10, 0.0);
  font-size: 29px;
  padding: 10px 10px;
  width: 500px;
}

footer{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin: 15px 0 0 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 20px;
  line-height: 25px;
}
footer h3{
  margin: 10px 0;
  text-align: center;
}
footer .Info{
  padding: 0 10px;
  display: inline-block;
  float: left;
}
footer .clinks{
  display: inline-block;
  float: right;
}
footer .clinks a{
  display: inline-block;
  margin: 10px auto 10px 300px ;
}
